extends layout

block content
  h1= title
  p Welcome to #{title}
  - var image_names= ["manager1.jpg" , "manager2.jpg" ,"manager3.jpg" , "manager4.jpg" , "manager5.jpg"]
  - for(let i=0;i<3;i++){
     - let randValue = Math.floor(Math.random()*5)
     img(src=`/images/${image_names[randValue]}` alt=`Image No ${randValue}`)
  -}